$textColor-1: #19191a;
$textColor-2: #3a3a40;
$cardBackground: #9ca0a1;

.form-input {
    display: inline-block;
    justify-content: right
}

.signup-text {
    color: $textColor-2;
    opacity: 100;
}

.signup-welcome {
    color: $textColor-2;
    text-align: center;
    font-weight: lighter;
}

.signup-text {
    color: $textColor-2;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}

.signup-more {
    color: $textColor-2;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.input-keys {
    margin-left: 40%;
    margin-top: 25px;
}

#formUsername {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block
}

#formPassword {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block
}

#formEmail {
    text-align: center;
    margin-top: inherit;
    margin-bottom: auto;
    display: inline-block
}

.birthday-input {
    margin-top: inherit;
}


#cardInfo {
    background-color: $cardBackground;
    border-radius: 10;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    opacity: 0.85;
}

.text-center {
    color: #04195e;
    justify-content: center;
    display: inline-block;
    margin-left: 35%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.signup-button {
    display: inline-block;
    margin-left: 65px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 200px;
    height: 50px;

}