$background-color: #BDFCC7;
$primary-button: #008080;
$add-button: #30873F;
$remove-button: #103717;
$cardBackground: #9ca0a1;


.movie-container {
    background-color: $cardBackground;
    border-radius: 10;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50;
    margin-bottom: 20px;
    opacity: 0.85;
    margin-top: 100px;
    display: inline-block;
}

.movie-view-button {
    margin-top: 50px;
    margin-left: 50px;
    height: 50px;
    width: 200px;
    display: inline-block;
}

.movie-info {
    padding-top: 25px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
}

.movie-image {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 600px;
    width: 400;
    border-radius: 15;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto
}

h6 {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.similar-display {
    display: inline-block;
    margin-left: 5%;
    flex-direction: row;

}