$background-color: #BDFCC7;
$primary-button: #008080;
$add-button: #30873F; 
$remove-button: #103717;


.back-button {
    padding: 12px 4px 12px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: none;
    border: 5px;
}