.welcome-login {
    padding-top: 100px;
    text-align: center;
    color: #595856;
    display: inline-block;
}

.login-form {
    padding-top: 75px;
}


.text-enter {
    padding-top: 30px;
    justify-content: center;
    color: #04195e;
    text-align: center;
    content: '\a';
    white-space: pre;
}

Form {
    text-align: center;
}

.login-button {
    padding-top: 30px;
    display: grid;
}